{% extends "layout.html" %}
<!--  -->
{% block extrahead %}
<link rel="stylesheet" href="{{ static('splash.css') }}" />
{% endblock %}
<!--  -->
{% block body %}
<main role="main" class="inner cover">
  <h1 class="cover-heading">Uh oh.</h1>
  {% if error_code == 404 %}
  <p class="lead">
    It looks like that page doesn't exist.
  </p>
  <p class="lead">
    <a href="{{ url('login') }}" class="btn btn-lg btn-secondary"
      >Start sharing your music</a
    >
  </p>
  {% else %}
  <p class="lead">
    Something went wrong and we got a <strong>{{error_code}} error</strong>.
    Please
    <a href="https://github.com/dfm/spotify-party/issues"
      >open an issue on GitHub</a
    >
    to let us know what happened.
  </p>
  {% endif %}
</main>
{% endblock %}
