<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <title>{%- block title -%}Distance{%- endblock -%}</title>

    <meta
      name="description"
      content="Keep listening to music with your friends even from a social distance."
    />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Distance" />
    <meta property="og:url" content="{{ app['config']['base_url'] }}" />
    <meta
      property="og:image"
      content="{{ app['config']['base_url'] }}/assets/icon96.png"
    />
    <meta
      property="og:description"
      content="Keep listening to music with your friends even from a social distance."
    />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Distance" />
    <meta
      name="twitter:description"
      content="Keep listening to music with your friends even from a social distance."
    />
    <meta name="twitter:creator" content="@exoplaneteer" />

    <link rel="icon" href="/assets/icon16.png" type="image/png" sizes="16x16" />
    <link rel="icon" href="/assets/icon32.png" type="image/png" sizes="32x32" />
    <link rel="icon" href="/assets/icon96.png" type="image/png" sizes="96x96" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    {% block extrahead %} {% endblock %}
  </head>
  <body class="text-center">
    <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <nav class="nav nav-masthead justify-content-center">
            <a
              class="nav-link{% if current_page == 'about' %} active {% endif %}"
              href="{{ url('about') }}"
              >About</a
            >
            <a
              class="nav-link{% if current_page == 'play' %} active {% endif %}"
              href="{{ url('play') }}"
              >Broadcast</a
            >
            <a
              class="nav-link{% if current_page == 'listen' %} active {% endif %}"
              href="{{ url('listen_index') }}"
              >Listen</a
            >
            {% if is_logged_in %}
            <a class="nav-link" href="{{ url('logout') }}">Log out</a>
            {% endif %}
          </nav>
        </div>
      </header>

      {% block body %} {% endblock %}

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>
            An
            <a href="https://github.com/dfm/spotify-party"
              >open source project</a
            >
            by <a href="https://dfm.io">Dan F-M</a>.<br />
            Please
            <a href="https://github.com/dfm/spotify-party/issues"
              >report issues on GitHub</a
            >.<br />
            Icon by
            <a href="https://www.flaticon.com/authors/freepik" title="Freepik"
              >Freepik</a
            >
            from
            <a href="https://www.flaticon.com/" title="Flaticon">Flaticon</a>.
          </p>
        </div>
      </footer>
    </div>

    <!--  -->
    {% block scripts %}{% endblock %}
  </body>
</html>
