{% extends "layout.html" %}
<!--  -->
{% block extrahead %}
<link rel="stylesheet" href="{{ static('splash.css') }}" />
{% endblock %}
<!--  -->
{% block body %}
<main role="main" class="inner cover">
  <h1 class="cover-heading">Uh oh.</h1>
  <p class="lead">
    It looks like nothing is being streamed to that channel anymore.
  </p>
  <p class="lead">
    <a href="{{ url('play') }}" class="btn btn-lg btn-secondary"
      >Start sharing your music instead!</a
    >
  </p>
</main>
{% endblock %}
