{% extends "layout.html" %}
<!--  -->
{%- block title -%}Distance: Broadcasting{%- endblock -%}
<!--  -->
{% block extrahead %}
<link rel="stylesheet" href="{{ static('bundle.css') }}" />
{% endblock %}
<!--  -->
{% block body %}
<main role="main" class="inner cover">
  <div id="app" class="lead"></div>
</main>
{% endblock %}
<!--  -->
{% block scripts %}
<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script src="{{ static('bundle.js') }}"></script>
<script>
  window.onSpotifyWebPlaybackSDKReady = () => {
    SpotifyPartyApp.renderPlayer(
      "{{ user_id }}",
      "{{ room_name }}",
      document.getElementById("app")
    );
  };
</script>
{% endblock %}
